.form-control input{
  display:block;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.btn-cadast{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13;
  width: 130px;
  height: 35px;
  padding: 7px 20px;
  border: none;
  color: white;
  background-color: #4e4e4e;
  border: none;
  margin-right: -0.4em;
}